# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
from datetime import date
pd.set_option('display.max_colwidth', None)

jeopardy_data = pd.read_csv('jeopardy.csv')

# remove space from left side of column names
jeopardy_data.columns = jeopardy_data.columns.str.lstrip()
print(jeopardy_data.columns)



jeopardy_data = jeopardy_data.replace("()", "")
print(jeopardy_data.Answer)

display(jeopardy_data.head())

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
0                             Copernicus
1                             Jim Thorpe
2                                Arizona
3                             McDonald's
4                             John Adams
                       ...
216925                          Turandot
216926                        a titmouse
216927                      Clive Barker
216928                          Geronimo
216929    Grigori Alexandrovich Potemkin
Name: Answer, Length: 216930, dtype: object

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [2]:
# clean dataframe

# check for duplicates
duplicates = jeopardy_data.duplicated()
print(duplicates.value_counts())

#print(jeopardy_data.Question)

False    216930
dtype: int64

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
wordings = jeopardy_data.Question[(jeopardy_data.Question.str.contains('King')) & (jeopardy_data.Question.str.contains('England'))]


def filter_data(data, words):
    # if word(s) in words-list are ALL in the dataframe passed in - (x)
    result =  lambda x: all(word in x for word in words)
    # apply (result) to the Question column, .loc[] returns a filtered dataframe where True
    return data.loc[data["Question"].apply(result)]

# Test function and print the Question column
filtered_df = filter_data(jeopardy_data, ['King', 'England'])

print(filtered_df.Question.head())

4953                 Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912       This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                            this man and his son ruled England following the execution of King Charles I
23810    William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                      This member of the Medici family was the mother-in-law of England's King Charles I
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
wordings = jeopardy_data.Question[(jeopardy_data.Question.str.contains('King')) & (jeopardy_data.Question.str.contains('England'))]
#return data.loc[jeopardy_data['Question'].str.contains('|'.join(searchfor)]

def filter_data(data, words):
    # if word(s) in words-list are ALL in the dataframe passed in - (x)
    result =  lambda x: all(word.lower() in x.lower() for word in words)
    # apply (result) to the Question column, .loc[] returns a filtered dataframe where True
    return data.loc[data["Question"].apply(result)]

# Test function and print the Question column
filtered_df = filter_data(jeopardy_data, ['King', 'England'])
print(filtered_df.Question)

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
# check for duplicates - (no duplicates)
duplicates = jeopardy_data.duplicated()
print(duplicates.value_counts())

# replace None with 0, strip the dollar and comma, change value to float 
jeopardy_data['Float_value'] = jeopardy_data.Value.replace('None', 0)
jeopardy_data['Float_value'] = jeopardy_data.Float_value.replace('[\$,]', '', regex=True)
jeopardy_data['Float_value']= pd.to_numeric(jeopardy_data.Float_value)
#print(jeopardy_data.Float_value) #print to check if values have been converted to float

value_mean = jeopardy_data.Float_value.mean()
print('The average of the Value column is', value_mean)


filtered = filter_data(jeopardy_data, ['King'])
avg = (filtered['Float_value']).mean()
print('The average value of questions with the word "King" is', avg)

False    216930
dtype: int64
The average of the Value column is 739.9884755451067
The average value of questions with the word "King" is 771.8833850722094

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
def count_unique_answers(data):
    return data.Answer.nunique()

# Test function
print(count_unique_answers(filtered))

5268

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [7]:
# Number of questions from the 90s that use the word "computer"
df_1990s = jeopardy_data[(jeopardy_data['Air Date'] >= '1990-01-01') & (jeopardy_data['Air Date'] <= '1999-12-31')]
#display(df_1990s)
filtered = filter_data(df_1990s, ['Computer'])
print('There are', filtered.Question.count(), 'questions with the word "Computers" from the 1990s')

# Number of questions from the 2000s that use the word "computer"
df_2000s = jeopardy_data[(jeopardy_data['Air Date'] >= '2000-01-01') & (jeopardy_data['Air Date'] <= '2009-12-31')]
#display(df_2000s)
filtered = filter_data(df_2000s, ['Computer'])
print('The are', filtered.Question.count(), 'questions with the word "Computers" from the 2000s')

There are 98 questions with the word "Computers" from the 1990s
The are 268 questions with the word "Computers" from the 2000s

In [8]:
# connection between the round and the category?

#print(jeopardy_data.Round.unique()) 
#print(jeopardy_data.Category.unique())

# filter Category(History) and Round(Jeopardy!)
df_single_jeopardy = len(jeopardy_data[(jeopardy_data.Category == 'LITERATURE') & (jeopardy_data.Round == 'Jeopardy!')])
print('Single Jeopardy:', df_single_jeopardy)

# filter Category(History) and Round(Jeopardy!)
df_double_jeopardy = len(jeopardy_data[(jeopardy_data.Category == 'LITERATURE') & (jeopardy_data.Round == 'Double Jeopardy!')])
print('Double Jeopardy:', df_double_jeopardy)

Single Jeopardy: 105
Double Jeopardy: 381

It is more likely to find `Literature` in Double Jeopardy than in Single Jeopardy.

In [ ]:
# Game

def play_game(df):
    correct = 0
    incorrect = 0
    lives = 3
    wrong_input = 5
    while True:
        try:
            print('Do you wanna play?')
            response = input('y or n: ').lower()
            if (response == 'y'):
                print('Here is your question!')
                # select a random row from the jeopardy_data
                random_row = jeopardy_data.sample()
                # replace html tags with empty string if the question has tags(i.e the question in the random row)
                question = random_row['Question'].replace('<.*?>', '', regex=True)
                # using (*) before the variable and (sep='\n') stops the 'Name' and 'dtype' from printing out
                print(*question, sep='\n')
                answer = random_row['Answer'].str.lower()
                # if you want to see the answer, uncomment the next line
                print(list(answer))
                print('What is your answer?')
                user_answer = input().lower()
                if (user_answer == answer).all():
                    correct += 1
                    lives += 0
                    print('Correct ! You have '+ str(correct) + ' correct answer(s) and ' + str(incorrect) + ' incorrect answer(s)')
                    if lives == 1:
                        print('You still have ' + str(lives) + ' life')
                        continue
                    print('You still have ' + str(lives) + ' lives')
                else:
                    incorrect += 1
                    lives -= 1
                    # using (*) before the variable and (sep='\n') stops the 'Name' and 'dtype' from printing out
                    print(*'Correct Answer is: ' + random_row.Answer, sep='\n')
                    print('You have '+ str(correct) + ' correct answer(s) and ' + str(incorrect) + ' incorrect answer(s)')
                    if lives == 1:
                        print('You have ' + str(lives) + ' life left')
                        continue
                    if lives < 1:
                        print('You are out of lives')
                        break
                    print('You have ' + str(lives) + ' lives left')
                    continue
            elif response == 'n':
                print('Sorry to see you go')
                break
            else:
                print('Enter "y" or "n" to continue')
                # the wrong input variable allows for a maximum of 5 wrong inputs
                wrong_input -= 1
                if wrong_input < 1:
                    print('Several wrong inputs. Start over!')
                    break
        except:
            print('not a valid character')
            continue        
                    
play_game(jeopardy_data)

Do you wanna play?

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.